<a href="https://colab.research.google.com/github/sharvariK-11/Python-Tutorial/blob/main/logistic_regression_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data=pd.read_csv('/content/drive/MyDrive/SoC LD/logistic regression.csv')
data.head(12)

    age  insurance
0    23          0
1    28          0
2    47          1
3    34          0
4    28          0
5    56          1
6    89          1
7    34          0
8    22          0
9    88          1
10    9          0
11   34          0

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(data[['age']],data.insurance,test_size=0.2)     ##selects randomly the age wala column (x) but yet we want it to predict y values
x_test

   age
4   28
3   34
2   47

In [ ]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()   ##model=object
model.fit(x_train,y_train)       ##for training model

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

### this output tells that model is trained now. Now for given values of x i.e x_test we need to predict y

In [ ]:
model.predict(x_test)

array([0, 0, 1])

correct.........since values corresp. to given data are right.